.banner {
	background-color: #ebebeb;
}

/* Card */
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
	border-radius: 12px;
	transition: 0.5s;
	/* width: 40%; */
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

/* Icons */
.icon {
	font-size: 50px;
	color: #ffa500;
}
