/*Navigation Component styles go here*/

.nav-item-color {
	color: white !important;
	font-size: 18px;
}

.nav-item-color:hover {
	color: orange !important;
}

.navbar-sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}
/* div.dropdown-menu.show {
    background-color: orange; 
  } */
  .navbar-toggler{
	  margin-left: 40px;
  }
.navbar-light .navbar-toggler-icon {
	margin-left: 0px;
}
.navbar-collapse{
	background-color: black;
}
a.dropdown-item:active {
	background-color: orange;
}
a.dropdown-item:hover {
	background-color: orange;
	color: white;
}
